  <div class="row">
    
    <div class="col-xs-3">
      Month
      <button ng-model="gridcontrols.showgrid" >
  
      </button>
    </div>
    
    <div class="col-xs-3">
      Day
      <select ng-model="date.day" ng-options="day for day in selects.days()" class="form-control">
        <option value="" disabled>--</option>
      </select>
    </div>
    
    <div class="col-xs-6">
      Year
      <select ng-model="date.year" ng-options="year for year in selects.years() | orderBy: year:yearOrder" class="form-control">
        <option value="" disabled>----</option>
      </select>
    </div>
      
  </div>